<h1>メモ詳細画面</h1>
<p><%= sanitize(@memo["title"]) %></p>
<p><%= sanitize(@memo["content"]) %></p>
<a href="/memos/<%= params[:id] %>/edit" class="btn">編集</a>
<form action="/memos/<%= params[:id] %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">削除</button>
</form>
